extends layout

block head
	title="TEST"
	meta(name="viewport",content="width=device-width,initial-scale=1")

block stylesheets
	link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css')
	link(rel='stylesheet', href='//cdn.bootcss.com/codemirror/5.12.0/codemirror.min.css')
	link(rel='stylesheet', href='/style/app.css')

block javascripts
	script(src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js")
	script(src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js")
	script(src="//cdn.bootcss.com/codemirror/5.12.0/codemirror.min.js")
	script(src="/script/app.js")

block content
	div#page
