extends layout

block head
	title="TEST"
	meta(name="viewport",content="width=device-width,initial-scale=1")

block stylesheets
	link(rel='stylesheet', href='/style/app.css')

block javascripts
	script(src="/script/app.js")

block content
	div#page
